html, body { 
}

body {
    margin: 0;
}

div.background-animation {
}

div.tile {
    width: 32px;
    height: 32px;
    display: inline-block;
    white-space: normal;
}

div.tile-row {
    white-space: nowrap;
    height: 32px;

}
